/* Theme */

main {
	background-image: url(SpacePic.jpg);
	background-size: cover;
	color: rgb(0, 119, 255);
}

.tagline {
	color: rgb(255, 255, 255);
}

.icons-social i:hover{     
	color:yellow;
	transition: transform .2s;
	-ms-transform:scale(1.25); 
	/* IE 9 /     -webkit-transform: scale(1.25); / Safari 3-8 */
	transform: scale(1.25); 
}