/* Theme */

main {
	background-image: url(SpacePic.jpg);
	background-size: cover;
	color: rgb(0, 119, 255);
}

.tagline {
	color: rgb(252, 64, 211);
}

.icons-social a {
	color: lime;
}

.icons-social a svg path{
	fill: aqua;
	size: 10px;
}